.body {
  display: flex;
}

.info-bar {
  height: 69px;
  background-color: gainsboro;
  margin: 12px;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  width: 20%;
  min-width: 350px;
  max-width: 500px;
  padding: 12px;
}

.wrapper {
  min-height: 400px;
}

.image {
  width: 100%;
  height: auto;
  background-color: bisque;

  display: flex;
  align-items: center;
  justify-content: center;
}

.listHeading {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
.txtSpacing {
  margin-right: 25px;
}
